/* Global Variables*/
:root {
    /* yellow */
    --primary-color: #FFD53D;
    /* aquamarine */
    --secondary-color: #40B0DF;
    /* blue grotto */
    --blue-grotto: #0067B3;
    /* blue */
    --blue: #0000A3;
    --font-header: 'BioRhyme', sans-serif;
    --font-primary: 'Space Mono', sans-serif;

}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

h1 {
    font-family: var(--font-header);
    line-height: 75px;
    text-align: center;
    color: white;
}

.navbar {
    background-color: var(--secondary-color);
    font-family: var(--font-header);
    font-weight: 400;
    padding: 20px;
}

.navbar-nav {
    margin-left: 40px;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: auto;
    padding-bottom: 30px;
}

.profile {
    margin: 0 auto;
    margin-top: 175px;
    font-family: var(--font-primary);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    display: flex;
    flex-direction: column;
}

#aboutMe {
    max-width: 700px;
    margin: 20px;
    padding: 40px;
    padding-top: 20px;
    text-align: center;
    background-color: var(--blue-grotto);
    border-radius: 20px;
    color: white;
}

.aboutMe__item {
    margin: auto;
}

.aboutMe__item:last-child {
    margin-top: 40px;
}

.grid__item {
    display: inline-block;
    width: 50%;
}

@supports (display: grid) {

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin: 30px;
        width: 80%;
    }

    .grid__item {
        width: auto;
        min-height: auto;
        margin: 0;
        padding: 20px;
        align-content: center;
        background-color: var(--blue-grotto);
        color: white;
        border-radius: 20px;
    }
 
    .grid__item:first-child {
        grid-column: 1 / -1;
    }
}

.work-item {
    color: var(--primary-color);
    margin-bottom: 30px;
}

.work-header {
    text-align: center;
}

.project-screenshot {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

#portrait {
    width: 400px;
    border-radius: 50%;
    margin: auto;
}

#contactMe {
    text-align: left;
    margin: 20px;
    padding: 20px 40px;
    background-color: var(--blue-grotto);
    border-radius: 20px;
    color: white;
}

#contactEmail, #contactPhone {
    margin-bottom: 20px;
}

.contact-info {
    margin-top: 30px;
    padding-left: 40px;
}

#requiredP {
    font-style: italic;
}

input[type=text], input[type=email], #contactMessage {
    padding:5px; 
    border:2px solid var(--secondary-color);
    border-radius: 5px;
    color: var(--blue);
    width: 100%;
}

#contactMessage {
    height: 150px;
}

input[type=submit] {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: var(--blue);
  margin-top: 20px;
  padding: 12px 24px;
  cursor: pointer;
}

.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--primary-color);
    color: var(--blue);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    margin-left: 20px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.8;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover, a:focus {
    opacity: 0.8;
}

a:active {
    color: var(--blue);
}

@media all and (max-width: 600px) {

    #portrait {
        width: 250px;
        border-radius: 50%;
        margin: auto;
    }
}

@media all and (max-width: 1200px) {

    .grid {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
}

