/* Global Variables*/
:root {
    /* yellow */
    --primary-color: #FFD53D;
    /* aquamarine */
    --secondary-color: #40B0DF;
    /* blue grotto */
    --blue-grotto: #0067B3;
    /* blue */
    --blue: #0000A3;
    --font-header: 'BioRhyme', sans-serif;
    --font-primary: 'Space Mono', sans-serif;

}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: var(--font-primary);
    font-weight: 400;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: var(--font-header);
    line-height: 75px;
    text-align: center;
}

.about-me {
    text-align: center;
}

.page-header {
    background-color: var(--secondary-color);
    font-family: var(--font-header);
    font-weight: 400;
    display: flex;
    width: 100%;
    padding: 0px;
}

.page-header__item {
    flex: 0 1 200px;
    min-width: 0;
}

.logo {
    padding:40px;
    height: 100%;
    width: 100%;
    max-height: 200px;
    min-height: 150px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.main-navigation {
    padding: 40px;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
}

.navigation-list__item {
    color: var(--primary-color);
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: auto;
    padding-bottom: 30px;
}

.grid__item {
    display: inline-block;
    width: 50%;
}

@supports (display: grid) {

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .grid__item {
        width: auto;
        min-height: auto;
        margin: 0;
        padding: 20px;
        align-content: center;
    }
}

.profile {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: auto;
    margin-top: 40px;
    text-align: center;
}

.introduction {
    font-size: 15px;
}

#portrait {
    width: 250px;
    float: left;
    margin-right: 40px;
    border-radius: 50%;
}

#contact-form {
    padding-left: 40px;
}

.contact-info {
    padding-left: 40px;
}

#required-p {
    font-style: italic;
    padding-left: 40px;
}

.personal-description {
    margin: 20px;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:visited {
    /* color: var(--blue-grotto); */
}

a:hover, a:focus {
    /*underlining when hovering*/
    text-decoration: underline;
}

a:active {
    color: var(--blue);
}

button, .button {
    /* overwrites browser defaults */
    /* resets the border */
    border: none;
    display: inline-block;
    font-family: inherit;
    /* style button */
    background-color: var(--blue);
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    margin-left: 20px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s opacity;
}

button:hover, button:focus, .button:hover, .button:focus {

    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

.button_secondary {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--primary-color);
    color: var(--blue);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    margin-left: 20px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s opacity;
}

@media all and (max-width: 500px) {

    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .profile {
        margin-top: 0;
    }

    #portrait {
        width: 250px;
        border-radius: 50%;
        margin: auto;
    }
}

@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 875px) {

    .main-navigation {
        padding: 0;
        margin-bottom: 10px;
    }

    .navigation-list {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

    .navigation-list li {
        margin: 0;
        font-size: 14px;
    }

    .navigation-list li a {
        margin: 0;
    }

    .grid {
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    .page-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .page-header__item {
        -webkit-box-flex: 0;
        -ms-flex: 0;
        flex: 0;
    }

    .logo {
        padding: 10px 40px;
        min-height: 0px;
        max-height: 100px;
        max-width: 200px;
    }
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #red;
    }
}

@keyframes bubble-move {
    from {
        transform: translate(0, 0px);
    }
    to {
        transform: translate(0px, -150px);
    }
}

#chemistry {
    margin: 10%;
}

#XMLID_65_ {
    animation: 2s color-change infinite alternate linear;
}

#XMLID_119_, #XMLID_148_ {
    animation: 3s bubble-move infinite normal ease;
}

#XMLID_117_, #XMLID_149_ {
    animation: 3s bubble-move infinite normal ease-in;
}

#XMLID_127_ {
    animation: 4s bubble-move infinite normal ease-out;
}

#XMLID_128_, #XMLID_145_ {
    animation: 5s bubble-move infinite normal ease-out;
}

#XMLID_129_, #XMLID_143_ {
    animation: 4s bubble-move infinite normal ease-in;
}
