<div id="about">
  <h1>About Me</h1>

  <h5 className='text-md'>
    I am a Full-Stack Software Developer in the Minneapolis area looking to join your development team.
    I feel passionately about the importance of a clean, responsive, and easy-to-use application.
    I'll help you by bringing that passion to your next big project!
  </h5>

  @for (skill of jobSkills; track skill.title) {
    <a [href]="skill.link">
      <img [src]="skill.logo" alt="skill logo" />
    </a>
  }

  <button>Download Full Resume</button>
</div>
