@import "../../App";

.screenshot {
  max-width: 40vw;
  height: auto;
  max-height: 60vh;
  margin-bottom: 30px;
}

.project-info {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
}

.project-description {
  margin-bottom: 30px;
}

.link-button,
.link-button:hover,
.link-button:active,
.link-button:focus {
  background-color: $darkblue;
  border: none;
  outline: none;
  color: white;
}

.link-button:hover {
  opacity: 0.8;
}

@media (max-width: 850px) {
  .link-button,
  .project-description {
    margin-top: 10px;
  }
  .screenshot {
    max-width: 100%;
  }
}
