<div id="home">
  <img src="img/jakesportrait.jpg" alt="Jake Mitchell Portrait" className="w-96 rounded-full" />
  <h1>Jake Mitchell</h1>
  <div>
    <button class="icon-btn" href="mailto:jake@thundercloud.dev">
      <img alt="email icon"/>
    </button>
    <button class="icon-btn" href="https://github.com/jbmitchell7" target="_blank">
      <img src="img/logos/github.svg" alt="Github Logo" />
    </button>
    <button class="icon-btn" href="https://www.linkedin.com/in/jakebmitchell/" target="_blank">
      <img src="img/logos/linkedin.svg" alt="LinkedIn Logo" />
    </button>
  </div>
  <button href="#contact">Hire Me</button>
  <div class="absolute bottom-px">
    <p>Scroll Down</p>
    <svg className="mouse-svg mr-2" width="40" height="45">
      <ellipse cx="25" cy="25" rx="14" ry="18" stroke="black" strokeWidth="2" fill="none" />
      <circle className="mouse-wheel" cx="25" cy="15" r="2" fill="black" />
    </svg>
  </div>
</div>
