<div id="home" class="flex flex-col gap-1 justify-center items-center min-h-screen">
  <img src="img/jakesportrait.jpg" alt="Jake Mitchell Portrait" class="w-96 rounded-full" />
  <h1>Jake Mitchell</h1>
  <div class="flex gap-4">
    <a href="mailto:jake@thundercloud.dev" class="p-button">
      <i class="fa-solid fa-envelope"></i>
    </a>
    <a class="p-button" href="https://github.com/jbmitchell7" target="_blank">
      <img src="img/logos/github.svg" alt="Github Logo" />
    </a>
    <a class="p-button" href="https://www.linkedin.com/in/jakebmitchell/" target="_blank">
      <img src="img/logos/linkedin.svg" alt="LinkedIn Logo" />
    </a>
  </div>
  <a class="p-button" href="#contact">Hire Me</a>
  <div class="flex flex-col items-center absolute bottom-[10px]">
    <p>Scroll Down</p>
    <svg class="mouse-svg mr-2" width="40" height="45">
      <ellipse cx="25" cy="25" rx="14" ry="18" stroke="black" strokeWidth="2" fill="none" />
      <circle class="mouse-wheel" cx="25" cy="15" r="2" fill="black" />
    </svg>
  </div>
</div>
