@import "../../App";

#about {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
}

.introduction {
    padding-top: 50px;
    max-width: 50%;
    align-self: center;
}

@media (max-width : 850px) {
    .introduction {
        max-width: 80vw;
    }
}

.skills-icons {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.icon {
    max-height: 40px;
    margin: 20px;
}

.resume-btn, .resume-btn:active, .resume-btn:hover, .resume-btn:focus {
    margin-top: 50px;
    background-color: $aqua;
    color: black;
    border: none;
}