@import "../../App";

#contact {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: $gray;
    color: $yellow;
}