@import "../../App";

#experience {
    flex-direction: column;
}

.experience-container {
    margin-top: 50px;
    max-width: 60vw;
}

.experience-card {
    background-color: $red;
    color: white;
    height: 40vh;
    margin-bottom: 20px;
}

.experience-title {
    font-weight: 600;
    padding: 10px;
}

.experience-item {
    margin-top: -10px;
}

@media (max-width: 850px) {
    .experience-container {
        max-width: 100vw;
    }
    .experience-card {
        height: fit-content;
    }
}