@import "../../App";

#experience {
    flex-direction: column;
}

.experience-container {
    margin-top: 50px;
    max-width: 60vw;
}

.experience-card {
    background-color: $red;
    color: white;
    height: 40vh;
    margin-bottom: 20px;
}

.resume-btn, .resume-btn:active, .resume-btn:hover, .resume-btn:focus {
    background-color: $aqua;
    color: black;
    border: none;
}