$darkblue: #353353;
$yellow: #FFD15C;
$red: #FF4C60;
$aqua: #44D7B6;
$gray: #7C90A0;
$main-font: 'Work Sans', sans-serif;
$header-font: 'Montserrat', sans-serif;
$header-weight: 900;

.app {
    font-family: $main-font;
    font-weight: 300;
}

.section {
    display: flex;
    background-color: $gray;
    color: $yellow;
    //top and bottom 200 r/l 150
    padding: 20vh 10vw 0vh;
}

@media (max-width: 850px) {
    .section {
        padding-left: 5vw;
    }
}

.section:last-child {
    padding-bottom: 25vh;
}

.section-header {
    font-family: $header-font;
    color: $yellow;
}